.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #3f51b5;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
}

.globalhire {
  color: #fff;
  text-decoration: none;
}